body {
    background-color: #CCCCCC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-image: linear-gradient(to bottom, #301135, #652570);
    margin: auto;
    width: 90%;
    max-width: 700px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
}

.titulo {
    color: #FACD33;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.descricao {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 35px;
}

.formulario {
    background-image: linear-gradient(to top, #301135, #652570);
    margin: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
}

.titulo_forms {
    text-align: center;
    font-size: 1.4rem;
    color: #FFFFFF;
    padding: 20px;
}

input {
    width: calc(100% - 10px);
    height: 22px;
    padding: 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 0;
    margin: 10px 0;
    box-sizing: border-box;
}

.cards { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.esporte, .simulacao, .estrategia {
    background-image: linear-gradient(to bottom, #3E5FEF, #63ADFA);
    width: calc(100% / 3 - 40px);
    border: 10px solid #2A40DD;
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

p {
    color: #FAF4FC;
    font-size: 1.2rem;
}

object {
    width: 70%;
    margin: 20px auto;
    display: block;
}

button {
    margin: 20px 0;
    color: #DDF5FB;
    background-color: #1D0C20;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #5C2167;
}

footer {
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .esporte, .simulacao, .estrategia {
        width: 80%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 480px) {
    .titulo {
        font-size: 1.4rem;
    }

    .titulo_forms {
        font-size: 1.2rem;
    }

    .esporte, .simulacao, .estrategia {
        width: 100%;
        margin: 10px 0;
    }
}
